.cabecalho{
  grid-area: cabecalho;
  padding: 32px var(--padding-default);
  background-color: white;
}
.cabecalho__container{
  display: flex;
  align-items: center;
  
}
.cabecalho__container_items:first-child a:hover{
  filter:brightness(1.3);
}
.cabecalho__container_items:nth-child(2){
  margin-left: 2.817%;
}
.cabecalho__container_items .cabecalho__search_bar{
  position: relative;
  border-radius: 500px;
  border: none;
  padding: 12px 16px;
  font-size: var(--fs-content-cards-titulo500);
  line-height: var(--lh-content-cards-titulo500);
  font-weight: 400;
  width: 393px;
  background-color: var(--bg-cinza-search-bar);
}
.cabecalho__container_items .cabecalho__search_bar::placeholder{
  opacity: 0.7;
}
.cabecalho__container_items .cabecalho__search_bar:focus,
.cabecalho__container_items .cabecalho__search_bar:hover,
.cabecalho__container_items .cabecalho__search_bar:active{
  outline-color: var(--btn-blue);
  outline-style: solid;
}
.cabecalho__container_items:last-child{
  margin-left: auto;
}
.cabecalho__container_items:last-child a{
  text-decoration: none;
  padding: 16px 70px;
  border: 1px solid var(--btn-blue);
  color: var(--btn-blue);
  font-weight: 400;
  transition: all 0.3s;
}
.cabecalho__container_items:last-child a:hover{
  border-color: white;
  color: white;
  background-color: var(--btn-blue);
}
.cabecalho__search-btn{
  display: none;
}

.cabecalho__search_bar_button{
  position: relative;
  cursor: pointer;
  border: none;
  right: 40px;
  top: 7px;
  height: 25px;
  width: 25px;
  opacity: 0.7;
  background: url(../../img/search-icon-svg.svg) center / contain no-repeat;
}


@media only screen and (max-width: 1200px){
  .cabecalho{
    padding: 16px var(--padding-default);
  }
  .cabecalho__logo{
    width: 100px;
  }
  .cabecalho__container_items .cabecalho__search_bar{
    width: 272px;
  }
  .cabecalho__container_items:last-child a{
    padding: 12px 64px;
    
  }
  
}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 670px){
  .cabecalho__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cabecalho__logo{
    width: 100px;
  }
  .cabecalho__container_items:last-child{
    margin-left: 0;
  }
  
  .cabecalho__container_items:last-child a{
    padding: 12px 47.5px;   
  }
  .cabecalho__container_items .cabecalho__search_bar{
    display: none;
  }
  .cabecalho__container_items:nth-child(2){
    order: 3;
    width: 24px;
    height: 24px;
  }
  
  .cabecalho__search-btn{
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .cabecalho__search-btn:active,
  .cabecalho__search-btn:focus{
    transform: scale(1.2);
  }
  .cabecalho__container_items .cabecalho__search_bar.activated{
    position: absolute;
    display: block;
    left: 0;
    top: 63.49px;
    width: 100vw;
    border-radius: 0;
    border-top: 4px solid var(--bg-cinza-search-bar);
    background-color: white;
    transform-origin: top;
    animation: barra-de-procurar .3s ease-in-out forwards;
    z-index: 999;
  }

  .cabecalho__search_bar_button{
    display: none;
    visibility: hidden;
  }

  @keyframes barra-de-procurar{
    0%{
      transform: scaleY(0);
    }
  }
}
@media only screen and (max-width: 360px){

}