.contatos{
  grid-area: contatos;
  padding: 64px var(--padding-default);
  background-color: var(--bg-azulclaro);
}

.contatos__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 112px;
}
.contatos__imagem:hover{
  filter: brightness(1.3);
}
.contatos__item_ul{
  padding-right: 8.68px;
}
.contatos__item_ul_li:not(:last-child){
  margin-bottom: 24px;
}
.contatos__item_ul_li:hover a{
  color: var(--btn-blue);
}
.contatos__item_ul_li a{
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  text-decoration: none;
  color: var(--color-default);
}
.contatos__item:last-child{
  display: flex;
  flex-direction: column;
}
.contatos__item fieldset{
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contatos__item:last-child{
  flex-grow: 1;
  max-width: 570px;
}

.contatos__item_titulo_form{
  font-size: var(--fs-content-cards-preco-VerProduto700);
  line-height: var(--lh-content-cards-preco-VerProduto700);
  font-weight: bold;
  margin-bottom: 8px;
}

.contatos__item_input_container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
 
}
.input-label{
  position: absolute;
  top: 22px;
  left: 8px;
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  font-weight: 400;

  opacity: 0.5;
  transition: all .25s;
}
.input {
  box-sizing: border-box;
  padding: 30px 8px 8px;
  /* height: 3.25rem; */
  width: 100%;
  /* background-color: transparent; */
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  color: inherit;
  border: transparent;
  border-radius: 4px;
  border-bottom: 2px solid rgb(196, 196, 196);
  margin-bottom: 16px;
}
.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:focus, .textarea:focus{
  outline-color: var(--btn-blue);
  outline-style: solid;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.2em;

  transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all .25s;
}
.textarea {
  box-sizing: border-box;
  padding: 0.5rem;    
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid rgb(196, 196, 196);
  width: 100%;
  max-height: 82px;
  resize: none;
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  
}
.textarea::placeholder{
  opacity: 0.7;
}

.submit__btn{
  font-size: var(--fs-btn600);
  line-height: var(--lh-btn600);
  text-decoration: none;
  padding: 16px;
  margin-top: 10px;
  border: none;
  background: #2A7AE4;
  color: white;
  cursor: pointer;
  
}
.submit__btn:hover{
  background: #0e62d0;
}
.submit__btn:active{
  background: #006eff;
  transform: scale(0.9);
}


@media only screen and (max-width: 992px){
  .contatos__container{
    gap: 94px;
    flex-wrap: wrap;
    
  }
  .contatos{
    padding: 32px var(--padding-default);
  }
  .contatos__container{
    position: relative;
  }
  .contatos__item:nth-child(2){
    position: absolute;
    flex: none;
    top: 25%;
  }
  .contatos__item:nth-child(3){
    padding-bottom: 46px;
  }
}
@media only screen and (max-width: 600px){
  .contatos__container{
    gap: 16px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
  }
  .contatos{
    padding: 16px var(--padding-default);
  }
  .contatos__container{
    position: inherit;
  }
  .contatos__item:nth-child(1){
    text-align: center;
  }
  .contatos__item:nth-child(2){
    position: inherit;
    text-align: center;
    
  }
  .contatos__item:nth-child(3){
    padding-bottom: 0;
    padding-top: 16px;
  }
  .contatos__item_ul_li:not(:last-child){
    margin-bottom: 16px;
  }
  .contatos__item_titulo_form{
    margin-bottom: 8px;
  }
  .submit__btn{
    margin-top: 8px;
    padding: 12px 16px;
  }
}
