

.produtos{
  grid-area: produtos;
  padding: 0 var(--padding-default);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  
  
}
.produtos__categoria{
  font-size: var(--fs-content-titulo700);
  line-height: var(--lh-content-titulo700);
  font-weight: bold;
}

.produtos__vertudo{
  justify-self: end;
  text-decoration: none;
  color: var(--btn-blue);
  font-size: var(--fs-content-cards-preco-VerProduto700);
  line-height: var(--lh-content-cards-preco-VerProduto700);
  font-weight: bold;
  
  display: flex;
  align-items: center;
}
.seta{
  display: inline-block;
  font-size: 24px;
}
.produtos__container{
  grid-column: span 2;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, minmax(174px, 214px));
}

.produtos__container .produtos__container_lista:nth-child(n+7){
  display: none;
}
.produtos__container:not(:last-child){
  margin-bottom: 48px;
}
.produtos__container .produtos__container_lista{
  max-width: 214px;

}
.produtos__article{
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  
}
.produtos__article:hover .produtos__item_preco{
  color: green;
  font-size: large;
}
.produtos__item, .produtos__item_link_ver_mais{
  text-decoration: none;
  color: var(--color-default);
  
}
.produtos__item_imagem{
  width: 100%;
  height: var(--produtos-foto-height);
  border-radius: 5px;
  
}
.produtos__item_titulo{
  font-size: var(--fs-content-cards-titulo500);
  line-height: var(--lh-content-cards-titulo500);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produtos__item_preco{
  font-size: var(--fs-content-cards-preco-VerProduto700);
  line-height: var(--lh-content-cards-preco-VerProduto700);
  font-weight: bold;
}
.produtos__item_link_ver_mais{
  color: var(--btn-blue);
  font-size: var(--fs-content-cards-preco-VerProduto700);
  line-height: var(--lh-content-cards-preco-VerProduto700);
  font-weight: bold;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produtos__item_link_ver_mais:hover, 
.produtos__vertudo:hover, 
.produtos__item_imagem:hover{
  filter: brightness(1.2);
}

.produtos__item_imagem,
.produtos__item_titulo,
.produtos__item_preco{
  margin-bottom: 6px;
}


@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.buffer{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-produtos-cinza);
  display: none;
}
.buffer.active{
  display: block;
}
.spinning__buffer::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@media only screen and (max-width: 1900px){
  :root{
    --padding-default: 200px;
  }
}

@media only screen and (max-width: 1530px){
  .produtos__container{
    grid-template-columns: repeat(5, 1fr);
  }
  .produtos__container .produtos__container_lista:nth-child(n+6){
    display: none;
  }
}

@media only screen and (max-width: 1265px){
  .produtos__container{
    grid-template-columns: repeat(4, 1fr);
  }
  .produtos__container .produtos__container_lista:nth-child(n+5){
    display: none;
  }
 
}
@media only screen and (max-width: 1155px){
  .produtos__container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px){
  .produtos__container{
    grid-template-columns: repeat(4, 1fr); 
  }
   /* .produtos__container .produtos__container_lista:nth-child(n+5){
    display: none;
  } */
}
@media only screen and (max-width: 680px){
  .produtos__container{
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 16/9;
  }
}
@media only screen and (max-width: 360px){
  .produtos__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}