:root{

  /* FONT-SIZE e LINE-HEIGHT */
  --fs-LOGO: 3em;

  --fs-titulo700: 52px;
  --lh-titulo700: 61px;

  --fs-subt700: 22px;
  --lh-subt700: 26px;

  --fs-content-titulo700: 32px;
  --lh-content-titulo700: 37.57px;

  --fs-content-cards-titulo500: 14px;
  --lh-content-cards-titulo500: 16.44px;

  --fs-hero-btn: 16px;
  --lh-hero-btn: 18.78px;

  --fs-content-cards-preco-VerProduto700: 16px;
  --lh-content-cards-preco-VerProduto700: 18.78px;

  --fs-content-P: 16px;
  --lh-content-P: 19px;

  --fs-login-titulo700: 18px;
  --lh-login-titulo700: 21.13px;

  --fs-btn600: 18px;
  --lh-btn600: 21.13px;

  --fs-incones-medias-sociais: 32px;
  /* PADDINGS e WIDTH/HEIGHT */
  --padding-default: 10.556%;
  
  --produtos-cards-width: 100%; /*176px*/
  --produtos-cards-height: 252px; /*252px*/
  --produtos-foto-height: 174px;

  --produto-descricao-width: 560px;

  /* CORES */
  --bg-principal: #FFFFFF;
  --bg-azulclaro: #EAF2FD;

  --bg-cinza-search-bar: #F5F5F5;
  --bg-produtos-cinza: #F5F5F5;

  --color-default: #464646;

  --bg-skill-card: #FFF;

  --btn-blue: #2A7AE4;
  --btn-hover: #5595E9;

}