<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alura Store | Produtos</title>
  <!--CSS REUTILIZADO-->
  <link href="../styles/index/reset.css" rel="stylesheet">
  <link href="../styles/index/normalize.css" rel="stylesheet">
  <link href="../styles/index/variaveis.css" rel="stylesheet">
  <link href="../styles/index/cabecalho.css" rel="stylesheet">
  <link href="../styles/index/contato.css" rel="stylesheet">
  <link href="../styles/home-login/cabecalho-login.css" rel="stylesheet">
  <link href="../styles/index/produtos.css" rel="stylesheet">
  <link href="../styles/index/rodape.css" rel="stylesheet">
  <!--CSS BASE-->
  <link href="../styles/index/base-index.css" rel="stylesheet">

  <!-- ----CSS BASE PRODUTOS TODOS PUBLIC---- -->
  <link href="../styles/produtos-home/produtos-todos-public/base-produtos-todos-public.css" rel="stylesheet">

  <!-- ----CSS BASE PRODUTOS TODOS PUBLIC---- -->
  <link href="../styles/produtos-home/produtos-todos-public/produtos-todos-public.css" rel="stylesheet">

  <!--VARIAVEIS RESPONSIVO-->
  <link href="../styles/variaveis-responsivo/variaveis-responsivo.css" rel="stylesheet">

  <!--ARROW ICONE FROM BOOTSTRAP ICONS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
  <!--ICONE DA PÁGINA-->
  <link rel="icon" href="../img/heaphone-svg1.svg?" type="image/icon type">
  <!--FONT Raleway Principal-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="app">
  <!--CABEÇALHO HEADER-->
  <header class="cabecalho">
    <nav aria-label="primário">
      <ul class="cabecalho__container">
        <li class="cabecalho__container_items">
          <a href="../index.html">
            <img src="../img/alura_geek_logo.png" alt class="cabecalho__logo">
          </a>
        </li>
        <li class="cabecalho__container_items">
          <img class="cabecalho__search-btn" src="../img/search.svg" alt="Luneta para pesquisa" data-header-search-icon>
          <label>
            <input placeholder="O que deseja encontrar?" id="searchField" type="text" class="cabecalho__search_bar" data-header-search-bar>
            <button type="button" title="search" class="cabecalho__search_bar_button" data-header-search-btn></button>
          </label>
          
        </li>
        <li class="cabecalho__container_items">
          <a aria-label="Botão Entrar" href="home-login.html" class="cabecalho__btn_login">Login</a>
        </li>
      </ul>
    </nav>
  </header>
  <!--FIM CABECALHO HEADER-->

  <!-- ----------------MAIN CONTEÚDO---------------------- -->
  <main class="conteudo">
    <div class="produtos-filtros-container">
      <aside class="filtros">
        <h1 class="filtros__titulo">Todos</h1>
        <h2 class="filtro">Preços:</h2>
        <ol class="filtro__container">
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 100,00
            </a>
          </li>
          
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              R$ 100 à R$ 250
            </a>
          </li>
          
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              R$ 250 à R$ 500
            </a>
          </li>
          
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              R$ 500 à R$ 1000
            </a>
          </li>
          
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Mais de R$ 1000
            </a>
          </li>
        </ol>

        <!--2--> <hr>

        <h2 class="filtro">Gênero:</h2>
        <ol class="filtro__container">
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Axé
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Clássicos
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Progressivo
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Pop
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Rock 'n' Roll
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Tiktok Hits 
            </a>
          </li>
        </ol>
        <!--3--> <hr>

        <h2 class="filtro">Mais Populares:</h2>
        <ol class="filtro__container">
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 100,00
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 300,00
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 500,00
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 800,00
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Até R$ 1000,00
            </a>
          </li>
        </ol>
        <!--4--> <hr>
        <h2 class="filtro">Produtos:</h2>
        <ol class="filtro__container">
          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Albums
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Camisetas
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Ilustrações
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Presentes
            </a>
          </li>

          <li class="filtro__item">
            <a class="filtro__item_link" href="#">
              Utensílios
            </a>
          </li>
        </ol>
        <!----> <hr>
      </aside>

      <!--TODOS PRODUTOS-->
      <section class="produtos-todos-public">
        <div class="produtos active" id="produtos">
          <div class="loading active" id="loading">
            <div class="loading__spinner"></div>
          </div>
          <h2 id="TodosProdutosTitulo" class="produtos__categoria">Todos os produtos</h2>
          <ul aria-labelledby="TodosProdutosTitulo" class="produtos__container produtos__container--todos_public" data-lista-de-produtos>

            <!--PRODUTOS-->

          </ul>
        </div>        
      </section>
    </div>
    <!--FIM PRODUTOS PRODUCTS-->


    <!--CONTATO CONTACT-->
    <section class="contatos" data-section-contatos>
      <nav aria-label="secundário">
        <ul class="contatos__container">

          <li class="contatos__item">
            <a href="../index.html">
              <img src="../img/alura_geek_logo.png" alt class="contatos__imagem">
            </a>
          </li>

          <li class="contatos__item">
            <ul class="contatos__item_ul">
              <li class="contatos__item_ul_li"><a href="#">Quem somos nós</a></li>
              <li class="contatos__item_ul_li"><a href="#">Política de privacidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Programa fidelidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Nossas lojas</a></li>
              <li class="contatos__item_ul_li"><a href="#">Quero ser franqueado</a></li>
              <li class="contatos__item_ul_li"><a href="#">Anuncie aqui</a></li>
            </ul>
          </li>

          <li class="contatos__item">
            <form action="">
              <fieldset>
                <legend><h2 class="contatos__item_titulo_form">Fale conosco</h2></legend>
                <div class="contatos__item_input_container">
                  <input class="input" name="nome" id="nome" type="text" placeholder="Nome" required>
                  <label class="input-label" for="nome">Nome: </label>
                </div>

                <label aria-label="Escreva sua Mensagem" for="contatoMensagem"></label>
                <textarea class="textarea" name="" id="contatoMensagem" placeholder="Escreva sua mensagem" rows="10" required></textarea>
                <div>
                  <input class="submit__btn" type="submit" value="Enviar mensagem">
                </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </nav>
    </section>
    <!--FIM CONTATO CONTACT-->
  
  </main>
  <!-- ----------------FIM MAIN CONTEÚDO---------------------- -->

  <!--RODAPÉ FOOTER-->
  <footer class="rodape" data-section-footer>
    <a target="_blank" href="https://www.linkedin.com/in/rafael-da-silva-peres-ba4228bb/">
      <h2>
       Desenvolvido por Rafael Peres <br>2022
      </h2>
    </a>
  </footer>
  <!--FIM RODAPÉ FOOTER-->

  <script src="../scripts/search-btn/search-btn.js" type="text/javascript"></script>
  <script src="../scripts/search-btn/filtros/filtros.js" type="module"></script>
  
</body>

</html>