<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Produto</title>
  <!--CSS REUTILIZADO-->
  <link href="../styles/index/reset.css" rel="stylesheet">
  <link href="../styles/index/normalize.css" rel="stylesheet">
  <link href="../styles/index/variaveis.css" rel="stylesheet">
  <link href="../styles/index/cabecalho.css" rel="stylesheet">
  <link href="../styles/index/contato.css" rel="stylesheet">
  <link href="../styles/home-login/login.css" rel="stylesheet">
  <link href="../styles/home-login/cabecalho-login.css" rel="stylesheet">
  <!--CSS RODAPE-->
  <link href="../styles/index/rodape.css" rel="stylesheet">
  <!--CSS BASE INDEX-->
  <link href="../styles/index/base-index.css" rel="stylesheet">
  <!--CSS BASE PRODUTO ADICIONAR-->
  <link href="../styles/produtos-home/produtos-adicionar/base-produto-adicionar.css" rel="stylesheet">

  <!--CSS PRODUTO ADICIONAR-->
  <link href="/styles/produtos-home/produtos-adicionar/produtos-adicionar.css" rel="stylesheet">

  <!--VARIAVEIS RESPONSIVO-->
  <link href="../styles/variaveis-responsivo/variaveis-responsivo.css" rel="stylesheet">

  <!--ARROW ICONE FROM BOOTSTRAP ICONS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
  <!--ICONE DA PÁGINA-->
  <link rel="icon" href="/img/heaphone-svg1.svg?" type="image/icon type">
  <!--FONT Raleway Principal-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="app">
  <!--CABEÇALHO HEADER-->
  <header class="cabecalho">
    <nav aria-label="primário">
      <ul class="cabecalho__container">
        <li class="cabecalho__container_items">
          <a href="/">
            <img src="../img/alura_geek_logo.png" alt class="cabecalho__logo">
          </a>
        </li>
        <li class="cabecalho__container_items">
          <input placeholder="O que deseja encontrar?" type="text" class="cabecalho__search_bar">
        </li>
        <li class="cabecalho__container_items">
          <a aria-label="Botão Menu administrador" href="produtos-adicionar.html" class="cabecalho__btn_login cabecalho__btn_login--admin">Menu administrador</a>
        </li>
      </ul>
    </nav>
  </header>
  <!--FIM CABECALHO HEADER-->

  <!--MAIN CONTEÚDO-->
  <main class="conteudo">
    <!--LOGIN FORM-->
    <section class="adicionarProduto">
      <div class="contatos__item contatos__item--login">
        <form class="contatos__form" action="">
          <fieldset>
            <legend class="contatos__item_titulo_form | contatos__item_titulo_form--login | contatos__item_titulo_form--adicionar">Adicionar Novo Produto</legend>

            <div class="contatos__item_input_container">
              <input class="input input--adicionar" name="imagem" id="imagem" type="text" placeholder="URL da imagem" required>
              <label class="input-label" for="imagem">URL da imagem</label>
            </div>
            
            <div class="contatos__item_input_container">
              <input class="input input--adicionar" name="categoria" id="categoria" type="text" placeholder="Categoria" required>
              <label class="input-label" for="categoria">Categoria</label>
            </div>
            
            <div class="contatos__item_input_container">
              <input class="input input--adicionar" name="produto" id="produto" type="text" placeholder="Nome do produto" required>
              <label class="input-label" for="produto">Nome do produto</label>
            </div>

            <div class="contatos__item_input_container">
              <input class="input input--adicionar" name="preco" id="preco" type="text" placeholder="Preço do produto" required>
              <label class="input-label" for="preco">Preço do produto</label>
            </div>

            <textarea class="textarea" name="" id="" rows="10" placeholder="Descrição do produto"></textarea>

            <input class="submit__btn submit__btn--adicionar" type="submit" value="Adicionar produto">
          </fieldset>
        </form>
      </div>
    </section>
    <!--FIM LOGIN FORM-->



    <!--CONTATO CONTACT-->
    <section class="contatos">
      <nav aria-label="secundário">
        <ul class="contatos__container">

          <li class="contatos__item">
            <a href="/">
              <img src="../img/alura_geek_logo.png" alt class="contatos__imagem">
            </a>
          </li>

          <li class="contatos__item">
            <ul class="contatos__item_ul">
              <li class="contatos__item_ul_li"><a href="#">Quem somos nós</a></li>
              <li class="contatos__item_ul_li"><a href="#">Política de privacidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Programa fidelidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Nossas lojas</a></li>
              <li class="contatos__item_ul_li"><a href="#">Quero ser franqueado</a></li>
              <li class="contatos__item_ul_li"><a href="#">Anuncie aqui</a></li>
            </ul>
          </li>

          <li class="contatos__item">
            <h2 class="contatos__item_titulo_form">Fale conosco</h2>
            <form action="">
              <fieldset>

                <div class="contatos__item_input_container">
                  <input class="input" name="nome" id="nome" type="text" placeholder="Nome" required>
                  <label class="input-label" for="nome">Nome: </label>
                </div>

                <label for=""></label>
                <textarea class="textarea" name="" id="" placeholder="Escreva sua mensagem" rows="10" required></textarea>
                <div>
                  <input class="submit__btn" type="submit" value="Enviar mensagem">
                </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </nav>
    </section>
    <!--FIM CONTATO CONTACT-->
  
  </main>
  <!--RODAPÉ FOOTER-->
  <footer class="rodape">
    <a target="_blank" href="https://www.linkedin.com/in/rafael-da-silva-peres-ba4228bb/">
      <h2>
       Desenvolvido por Rafael Peres <br>2022
      </h2>
    </a>
  </footer>
  <!--FIM RODAPÉ FOOTER-->
</body>
</html>