<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>
  <!--CSS REUTILIZADO-->
  <link href="../styles/index/reset.css" rel="stylesheet">
  <link href="../styles/index/normalize.css" rel="stylesheet">
  <link href="../styles/index/variaveis.css" rel="stylesheet">
  <link href="../styles/index/cabecalho.css" rel="stylesheet">
  <link href="../styles/index/contato.css" rel="stylesheet">
  <link href="../styles/home-login/cabecalho-login.css" rel="stylesheet">
  <link href="../styles/index/produtos.css" rel="stylesheet">
  <!--CSS RODAPE-->
  <link href="../styles/index/rodape.css" rel="stylesheet">
  <!--CSS BASE-->
  <link href="../styles/index/base-index.css" rel="stylesheet">
  <!--CSS BASE PRODUTOS PRODUCTS -->
  <link href="../styles/produtos-home/base-produtos.css" rel="stylesheet">

  <!--CSS PRODUTOS PRODUCTS-->
  <link href="../styles/produtos-home/produtos-todos.css" rel="stylesheet">

  <!--VARIAVEIS RESPONSIVO-->
  <link href="../styles/variaveis-responsivo/variaveis-responsivo.css" rel="stylesheet">

  <!--ARROW ICONE FROM BOOTSTRAP ICONS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
  <!--ICONE DA PÁGINA-->
  <link rel="icon" href="/img/controller-svg.svg?" type="image/icon type">
  <!--FONT Raleway Principal-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="app">
  <!--CABEÇALHO HEADER-->
  <header class="cabecalho">
    <nav aria-label="primário">
      <ul class="cabecalho__container">
        <li class="cabecalho__container_items">
          <a href="/">
            <img src="../img/alura_geek_logo.png" alt class="cabecalho__logo">
          </a>
        </li>
        <li class="cabecalho__container_items">
          <input placeholder="O que deseja encontrar?" type="search" class="cabecalho__search_bar">
        </li>
        <li class="cabecalho__container_items">
          <a aria-label="Botão Entrar" href="home-login.html" class="cabecalho__btn_login">Login</a>
        </li>
      </ul>
    </nav>
  </header>
  <!--FIM CABECALHO HEADER-->

  <!--MAIN CONTEÚDO-->
  <main class="conteudo">
    <!--PRODUTOS PRODUCTS-->
    <section class="produtos">
      <!--PRODUTOS ROW UNICA-->
      <h2 id="TodosProdutosTitulo" class="produtos__categoria">Todos os produtos</h2>
      <a class="produtos__vertudo submit__btn submit__btn--adicionar" href="/views/produtos-adicionar.html">Adicionar Produto</a>
      <ul aria-labelledby="TodosProdutosTitulo" class="produtos__container">
        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
       </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-pinkfloyd.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#123456</a>
            </a>
          </article>
        </li>
      
        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>
        
        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-tshirt.JPG" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto YZX</h2>
              <h3 class="produtos__item_preco">R$ 80,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#654321</a>
            </a>
          </article>
        </li>
   
        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>

        <li>
          <article class="produtos__article">
            <a href="#" class="produtos__item">
              <img src="/img/img-cards/card-img-mugs.jpg" alt="Linha branca entrando pelo buraco da agulha e saindo do outro lado colorida" class="produtos__item_imagem">
              <h2 class="produtos__item_titulo">Produto XYZ</h2>
              <h3 class="produtos__item_preco">R$ 60,00</h3>
              <a href="#" class="produtos__item_link_ver_mais">#456789</a>
            </a>
          </article>
        </li>
      </ul>
    </section>
      <!--FIM PRODUTOS ROW UNICA-->
    <!--FIM PRODUTOS PRODUCTS-->


    <!--CONTATO CONTACT-->
    <section class="contatos">
      <nav aria-label="secundário">
        <ul class="contatos__container">

          <li class="contatos__item">
            <a href="/">
              <img src="../img/alura_geek_logo.png" alt class="contatos__imagem">
            </a>
          </li>

          <li class="contatos__item">
            <ul class="contatos__item_ul">
              <li class="contatos__item_ul_li"><a href="#">Quem somos nós</a></li>
              <li class="contatos__item_ul_li"><a href="#">Política de privacidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Programa fidelidade</a></li>
              <li class="contatos__item_ul_li"><a href="#">Nossas lojas</a></li>
              <li class="contatos__item_ul_li"><a href="#">Quero ser franqueado</a></li>
              <li class="contatos__item_ul_li"><a href="#">Anuncie aqui</a></li>
            </ul>
          </li>

          <li class="contatos__item">
            <form action="">
              <fieldset>
                <legend><h2 class="contatos__item_titulo_form">Fale conosco</h2></legend>
                <div class="contatos__item_input_container">
                  <input class="input" name="nome" id="nome" type="text" placeholder="Nome" required>
                  <label class="input-label" for="nome">Nome: </label>
                </div>

                <label aria-label="Escreva sua Mensagem" for="contatoMensagem"></label>
                <textarea class="textarea" name="" id="contatoMensagem" placeholder="Escreva sua mensagem" rows="10" required></textarea>
                <div>
                  <input class="submit__btn" type="submit" value="Enviar mensagem">
                </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </nav>
    </section>
    <!--FIM CONTATO CONTACT-->
  
  </main>
  <!--RODAPÉ FOOTER-->
  <footer class="rodape">
    <a target="_blank" href="https://www.linkedin.com/in/rafael-da-silva-peres-ba4228bb/">
      <h2>
       Desenvolvido por Rafael Peres <br>2022
      </h2>
    </a>
  </footer>
  <!--FIM RODAPÉ FOOTER-->
</body>
</html>