.login{
  grid-area: login;
  padding: 91.5px 35.348%; 
}
.contatos__item--login{
  display: grid;
  gap: 25px;
}
.contatos__form fieldset{
  display: grid;
  gap: 25px;
}
.contatos__item_titulo_form--login{
  text-align: center;
  font-size: var(--fs-login-titulo700);
  line-height: var(--lh-login-titulo700);
  font-weight: 700;
  margin: 0;
}
.input--login{
  margin: 0;
}

.input--login{
  padding: 18px 12px 25px 12px;
}
.input--login::placeholder{
  visibility: visible;
  color: var(--color-default);
  opacity: 0.7;
}
.submit__btn--login{
  font-size: var(--fs-btn600);
  line-height: var(--lh-btn600);
  font-weight: 600;
  margin: 0;
  padding: 20.5px;
}

@media only screen and (max-width: 992px){
  .login{
    padding: 91.5px 24.824%; 
  }
}

@media only screen and (max-width: 768px){
  .login{
    padding: 45px 32.09% 61px; 
  }
  .contatos__item--login{
    gap: 16px;
  }
  .contatos__form fieldset{
    gap: 16px;
  }
  .input--login{
    padding: 8px 12px 13px 12px;
  }
  .submit__btn--login{
    padding: 12px 34px;
    max-width: 109px;
    justify-self: center;
  }
  
}
@media only screen and (max-width: 600px){
  .login{
    padding: 96px 9% 77px; 
  }
}
@media only screen and (max-width: 360px){
  
  
}