.conteudo{
  grid-area: conteudo;
  display: grid;
  gap: 0px;
  grid-template-areas: 
  "cadastrado"
  "contatos";
}

.cadastrado{
  grid-area: cadastrado;
  padding: 91.5px calc(var(--padding-default) + 3rem);

}
.cadastrado_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cadastrado_texto{
  text-align: center;
  font-size: calc(1vw + 1vh + 2vmin);
}

.cadastrado_imagem{
  aspect-ratio: 20/5;
}

@media only screen and (max-width: 550px){
  .cadastrado{
    padding: 91.5px var(--padding-default);
  }
}