.adicionarProduto{
  grid-area: adicionarProduto;
  padding: 64px 30.56%;
}
.contatos__item:last-child{
  max-width: 100%;
}
.cabecalho__container_items:last-child a{
  padding: 16px 16px;
}
.cabecalho__btn_login--admin{
  padding: 16px;
}
.contatos__item_input_container--imagem{
  position: inherit;
  
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  justify-content: space-around;
  gap: 15px;
  
}

.contatos__item_input_container--imagem div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  min-height: 170px;
  
  
  text-align: center;
  border: 1px dashed var(--btn-blue);
  background-image: url(../../../img/add-img-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 2s;
}

 fieldset label[for=imagem]{
  position: inherit;
  
  background-color: var(--btn-blue);
  opacity: 1;
 
  border-radius: 4px;
  
  color: white;
  cursor: pointer;
  
  text-align:center;
  padding: 20px 0;
  width: 70%;
  
}

fieldset input[type=file]{
  display: none;
}





.contatos__item_titulo_form--adicionar{
  font-size: var(--fs-content-titulo700);
  line-height: var(--lh-content-titulo700);
}
.contatos__item--login{
  gap: 16px;
}
.contatos__form fieldset{
  gap: 16px;
}
.input--adicionar{
  margin-bottom: 0;
}
.submit__btn--adicionar{
  padding: 16px;
}

@media only screen and (min-width: 1900px){
  .adicionarProduto{
    padding: 64px 30.56%; 
  }
}

@media only screen and (max-width: 1240px){
  .adicionarProduto{
    padding: 32px; 
  }
}

@media only screen and (max-width: 768px){
  
  .contatos__item--login{
    gap: 16px;
  }
  .contatos__form fieldset{
    gap: 16px;
  }
  .input--login{
    padding: 8px 12px 13px 12px;
  }
  .submit__btn--login{
    padding: 12px 34px;
    max-width: 109px;
    justify-self: center;
  }
  
}
@media only screen and (max-width: 600px){
  
}