.produtos{
  grid-area: produtos;
  padding: 64px var(--padding-default);
  display: grid;
  grid-template-columns: repeat(auto, 1fr); 
  gap: 16px;
}
.produtos__container{
  gap: 64px 16px;
}
.produtos__article{
  position: relative;
  margin-bottom: 0px;
}
.produtos__article:nth-last-child(-n+6){
  margin-bottom: 0;
}
.produtos__container li:nth-child(n){
  display: block;
}
.produtos__item img{
  cursor:auto;
}
.produtos__item_btns_container{
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  display: flex;
  gap: 16px;
}
.produtos__item_edit_btn{
  padding: 0;
  border: none;
  background-color: transparent;
}
.produtos__item_edit_btn:hover{
  transform: scale(1.2);
}
.produtos__item_edit_btn:hover img{
  filter: invert(42%) sepia(100%) saturate(1352%) hue-rotate(175deg) brightness(100%) contrast(130%);
  cursor: pointer;
}
.produtos__item_edit_btn:focus{
  transform: scale(1.2);
}
.produtos__item_edit_btn:active{
  transform: scale(1.4);
  filter: brightness(1);
}

.submit__btn--adicionar{
 color: white;
 font-size: var(--fs-hero-btn);
 line-height: var(--lh-hero-btn);
 font-weight: 400;
 margin: 0;
}
.produtos__item_link_ver_mais{
  color: var(--color-default);
}

@media only screen and (max-width: 1200px){
  .produtos__container{
    grid-template-columns: repeat(5, 1fr);
  }
  
}
@media only screen and (max-width: 992px){
  .produtos__container{
    grid-template-columns: repeat(4, 1fr);
  }
  .produtos__article{
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 690px){
  .produtos__container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 580px){
  .produtos__container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 360px){
  .produtos__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  
}